In [93]:
import graphlab

In [94]:
calls = graphlab.SFrame.read_csv("calls.csv", header=False)

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/calls.csv

Parsing completed. Parsed 100 lines in 1.44894 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 2148692 lines. Lines per second: 819187

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/calls.csv

Parsing completed. Parsed 10606835 lines in 6.42674 secs.

In [95]:
calls

Columns:
	X1	int
	X2	int
	X3	int
	X4	int

Rows: 10606835

Data:
+---------+----+---------+------+
|    X1   | X2 |    X3   |  X4  |
+---------+----+---------+------+
|  713639 | 0  |  713701 | 4308 |
|  713563 | 0  |  713701 | 4315 |
|  713474 | 0  | 1376868 | 4338 |
|  713701 | 0  |  713639 | 4354 |
| 1376868 | 0  |  713639 | 4366 |
|  713563 | 0  |  713701 | 4389 |
|  713701 | 0  |  713639 | 4453 |
|  713563 | 0  |  713701 | 4466 |
| 1376868 | 0  |  713701 | 4501 |
|  713563 | 0  | 1376868 | 4509 |
+---------+----+---------+------+
[10606835 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [96]:
meetings = graphlab.SFrame.read_csv("meetings.csv", header=False)

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/meetings.csv

Parsing completed. Parsed 100 lines in 0.129602 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/meetings.csv

Parsing completed. Parsed 127351 lines in 0.108944 secs.

In [97]:
meetings

Columns:
	X1	int
	X2	int
	X3	int
	X4	int

Rows: 127351

Data:
+---------+----+---------+---------+
|    X1   | X2 |    X3   |    X4   |
+---------+----+---------+---------+
| 1066153 | 3  | 2015580 |   1095  |
| 1122557 | 3  | 2015580 |   1095  |
| 1066943 | 3  | 1891741 | 1065348 |
| 1106679 | 3  | 1761893 | 1065348 |
| 1106679 | 3  | 1891741 | 1065348 |
| 1288235 | 3  | 1891741 | 1065348 |
|  756795 | 3  | 1923896 | 1396448 |
| 1283743 | 3  | 1923896 | 1396448 |
| 1303021 | 3  | 1756407 | 1467399 |
| 1303022 | 3  | 1756407 | 1467399 |
+---------+----+---------+---------+
[127351 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [98]:
emails = graphlab.SFrame.read_csv("emails.csv", header=False)

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/emails.csv

Parsing completed. Parsed 100 lines in 1.40036 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 2168072 lines. Lines per second: 859457

Read 12649777 lines. Lines per second: 1.54771e+06

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/emails.csv

Parsing completed. Parsed 14550085 lines in 8.75304 secs.

In [35]:
emails

Columns:
	X1	int
	X2	int
	X3	int
	X4	int

Rows: 14550085

Data:
+---------+----+---------+------+
|    X1   | X2 |    X3   |  X4  |
+---------+----+---------+------+
|  713701 | 1  | 1376868 | 4336 |
|  713701 | 1  | 1376868 | 4425 |
|  713563 | 1  |  713701 | 4435 |
| 1376868 | 1  |  713701 | 4456 |
|  713563 | 1  |  713701 | 4458 |
|  713639 | 1  |  713701 | 4471 |
|  713639 | 1  |  713563 | 4484 |
|  713563 | 1  | 1376868 | 4521 |
|  713701 | 1  | 1376868 | 4523 |
| 1376868 | 1  |  713639 | 4524 |
+---------+----+---------+------+
[14550085 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [99]:
purchases = graphlab.SFrame.read_csv("purchases.csv", header=False)

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/purchases.csv

Parsing completed. Parsed 100 lines in 0.569971 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Volumes/HDD/Users/phamvanvung/Google Drive/TTU/htdocs/vast2018data/mc3/2018 Mini-Challenge 3/purchases.csv

Parsing completed. Parsed 762200 lines in 0.608174 secs.

In [100]:
purchases

Columns:
	X1	int
	X2	int
	X3	int
	X4	int

Rows: 762200

Data:
+---------+----+---------+------+
|    X1   | X2 |    X3   |  X4  |
+---------+----+---------+------+
|  713639 | 2  | 2040565 | 4308 |
|  713474 | 2  | 2040565 | 5134 |
|  713701 | 2  | 2040565 | 5149 |
| 1376868 | 2  | 2040565 | 5253 |
|  713468 | 2  | 2040565 | 5669 |
| 1376868 | 2  | 2040565 | 5712 |
|  713814 | 2  | 2040624 | 5725 |
|  292073 | 2  | 2040565 | 5769 |
|  713444 | 2  | 2040565 | 6061 |
|  713639 | 2  | 2040565 | 6166 |
+---------+----+---------+------+
[762200 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [101]:
from datetime import datetime

In [102]:
from datetime import timedelta

In [103]:
startDate = datetime.strptime("May 11, 2015 14:00", "%B %d, %Y %H:%M")

In [104]:
startDate

datetime.datetime(2015, 5, 11, 14, 0)

In [105]:
def secondsToDate(seconds):
    return (startDate + timedelta(seconds = seconds)).date()

In [106]:
emails['date'] = emails['X4'].apply(secondsToDate)

In [107]:
emails

Columns:
	X1	int
	X2	int
	X3	int
	X4	int
	date	datetime

Rows: 14550085

Data:
+---------+----+---------+------+---------------------+
|    X1   | X2 |    X3   |  X4  |         date        |
+---------+----+---------+------+---------------------+
|  713701 | 1  | 1376868 | 4336 | 2015-05-11 00:00:00 |
|  713701 | 1  | 1376868 | 4425 | 2015-05-11 00:00:00 |
|  713563 | 1  |  713701 | 4435 | 2015-05-11 00:00:00 |
| 1376868 | 1  |  713701 | 4456 | 2015-05-11 00:00:00 |
|  713563 | 1  |  713701 | 4458 | 2015-05-11 00:00:00 |
|  713639 | 1  |  713701 | 4471 | 2015-05-11 00:00:00 |
|  713639 | 1  |  713563 | 4484 | 2015-05-11 00:00:00 |
|  713563 | 1  | 1376868 | 4521 | 2015-05-11 00:00:00 |
|  713701 | 1  | 1376868 | 4523 | 2015-05-11 00:00:00 |
| 1376868 | 1  |  713639 | 4524 | 2015-05-11 00:00:00 |
+---------+----+---------+------+---------------------+
[14550085 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [111]:
calls['date'] = calls['X4'].apply(secondsToDate)

In [112]:
calls

Columns:
	X1	int
	X2	int
	X3	int
	X4	int
	date	datetime

Rows: 10606835

Data:
+---------+----+---------+------+---------------------+
|    X1   | X2 |    X3   |  X4  |         date        |
+---------+----+---------+------+---------------------+
|  713639 | 0  |  713701 | 4308 | 2015-05-11 00:00:00 |
|  713563 | 0  |  713701 | 4315 | 2015-05-11 00:00:00 |
|  713474 | 0  | 1376868 | 4338 | 2015-05-11 00:00:00 |
|  713701 | 0  |  713639 | 4354 | 2015-05-11 00:00:00 |
| 1376868 | 0  |  713639 | 4366 | 2015-05-11 00:00:00 |
|  713563 | 0  |  713701 | 4389 | 2015-05-11 00:00:00 |
|  713701 | 0  |  713639 | 4453 | 2015-05-11 00:00:00 |
|  713563 | 0  |  713701 | 4466 | 2015-05-11 00:00:00 |
| 1376868 | 0  |  713701 | 4501 | 2015-05-11 00:00:00 |
|  713563 | 0  | 1376868 | 4509 | 2015-05-11 00:00:00 |
+---------+----+---------+------+---------------------+
[10606835 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [113]:
meetings['date'] = meetings['X4'].apply(secondsToDate)

In [115]:
meetings

Columns:
	X1	int
	X2	int
	X3	int
	X4	int
	date	datetime

Rows: 127351

Data:
+---------+----+---------+---------+---------------------+
|    X1   | X2 |    X3   |    X4   |         date        |
+---------+----+---------+---------+---------------------+
| 1066153 | 3  | 2015580 |   1095  | 2015-05-11 00:00:00 |
| 1122557 | 3  | 2015580 |   1095  | 2015-05-11 00:00:00 |
| 1066943 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
| 1106679 | 3  | 1761893 | 1065348 | 2015-05-23 00:00:00 |
| 1106679 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
| 1288235 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
|  756795 | 3  | 1923896 | 1396448 | 2015-05-27 00:00:00 |
| 1283743 | 3  | 1923896 | 1396448 | 2015-05-27 00:00:00 |
| 1303021 | 3  | 1756407 | 1467399 | 2015-05-28 00:00:00 |
| 1303022 | 3  | 1756407 | 1467399 | 2015-05-28 00:00:00 |
+---------+----+---------+---------+---------------------+
[127351 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [116]:
purchases['date'] = purchases['X4'].apply(secondsToDate)

In [117]:
purchases

Columns:
	X1	int
	X2	int
	X3	int
	X4	int
	date	datetime

Rows: 762200

Data:
+---------+----+---------+------+---------------------+
|    X1   | X2 |    X3   |  X4  |         date        |
+---------+----+---------+------+---------------------+
|  713639 | 2  | 2040565 | 4308 | 2015-05-11 00:00:00 |
|  713474 | 2  | 2040565 | 5134 | 2015-05-11 00:00:00 |
|  713701 | 2  | 2040565 | 5149 | 2015-05-11 00:00:00 |
| 1376868 | 2  | 2040565 | 5253 | 2015-05-11 00:00:00 |
|  713468 | 2  | 2040565 | 5669 | 2015-05-11 00:00:00 |
| 1376868 | 2  | 2040565 | 5712 | 2015-05-11 00:00:00 |
|  713814 | 2  | 2040624 | 5725 | 2015-05-11 00:00:00 |
|  292073 | 2  | 2040565 | 5769 | 2015-05-11 00:00:00 |
|  713444 | 2  | 2040565 | 6061 | 2015-05-11 00:00:00 |
|  713639 | 2  | 2040565 | 6166 | 2015-05-11 00:00:00 |
+---------+----+---------+------+---------------------+
[762200 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [118]:
meetings = meetings.add_row_number(column_name='index', start=0)

In [119]:
meetings

Columns:
	index	int
	X1	int
	X2	int
	X3	int
	X4	int
	date	datetime

Rows: 127351

Data:
+-------+---------+----+---------+---------+---------------------+
| index |    X1   | X2 |    X3   |    X4   |         date        |
+-------+---------+----+---------+---------+---------------------+
|   0   | 1066153 | 3  | 2015580 |   1095  | 2015-05-11 00:00:00 |
|   1   | 1122557 | 3  | 2015580 |   1095  | 2015-05-11 00:00:00 |
|   2   | 1066943 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
|   3   | 1106679 | 3  | 1761893 | 1065348 | 2015-05-23 00:00:00 |
|   4   | 1106679 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
|   5   | 1288235 | 3  | 1891741 | 1065348 | 2015-05-23 00:00:00 |
|   6   |  756795 | 3  | 1923896 | 1396448 | 2015-05-27 00:00:00 |
|   7   | 1283743 | 3  | 1923896 | 1396448 | 2015-05-27 00:00:00 |
|   8   | 1303021 | 3  | 1756407 | 1467399 | 2015-05-28 00:00:00 |
|   9   | 1303022 | 3  | 1756407 | 1467399 | 2015-05-28 00:00:00 |
+-------+---------+----+---------+---------+---------------------+
[127351 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [120]:
calls = calls.add_row_number(column_name='index', start=0)

In [121]:
emails = emails.add_row_number(column_name='index', start=0)

In [122]:
purchases = purchases.add_row_number(column_name='index', start=0)

In [123]:
meetingdata = meetings.groupby(key_columns="date", operations={
        'count': graphlab.aggregate.COUNT('index'),
        'start': graphlab.aggregate.MIN('index'),
        'end': graphlab.aggregate.MAX('index')
    })

In [124]:
meetingdata

Columns:
	date	datetime
	count	int
	start	int
	end	int

Rows: 817

Data:
+---------------------+-------+-------+-------+
|         date        | count | start |  end  |
+---------------------+-------+-------+-------+
| 2016-03-23 00:00:00 |   47  |  3686 |  3732 |
| 2016-12-20 00:00:00 |  115  | 31672 | 31786 |
| 2015-08-31 00:00:00 |   2   |   30  |   31  |
| 2015-11-12 00:00:00 |   13  |  123  |  135  |
| 2016-06-17 00:00:00 |   65  |  9430 |  9494 |
| 2017-10-02 00:00:00 |  361  | 96567 | 96927 |
| 2017-08-16 00:00:00 |  247  | 82789 | 83035 |
| 2017-09-29 00:00:00 |  212  | 95899 | 96110 |
| 2016-03-20 00:00:00 |   55  |  3521 |  3575 |
| 2017-01-24 00:00:00 |  269  | 37295 | 37563 |
+---------------------+-------+-------+-------+
[817 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [125]:
purchasedata = purchases.groupby(key_columns="date", operations={
        'count': graphlab.aggregate.COUNT('index'),
        'start': graphlab.aggregate.MIN('index'),
        'end': graphlab.aggregate.MAX('index')
    })

In [126]:
purchasedata

Columns:
	date	datetime
	count	int
	start	int
	end	int

Rows: 965

Data:
+---------------------+-------+--------+--------+
|         date        | count | start  |  end   |
+---------------------+-------+--------+--------+
| 2016-03-23 00:00:00 |  776  | 247102 | 247877 |
| 2015-09-17 00:00:00 |  751  | 99438  | 100188 |
| 2016-12-20 00:00:00 |  832  | 463050 | 463881 |
| 2015-08-31 00:00:00 |  813  | 86034  | 86846  |
| 2015-05-30 00:00:00 |  771  | 13729  | 14499  |
| 2015-11-12 00:00:00 |  771  | 143188 | 143958 |
| 2016-06-17 00:00:00 |  774  | 315427 | 316200 |
| 2015-07-24 00:00:00 |  796  | 56394  | 57189  |
| 2017-10-02 00:00:00 |  812  | 690595 | 691406 |
| 2017-08-16 00:00:00 |  814  | 652994 | 653807 |
+---------------------+-------+--------+--------+
[965 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [127]:
calldata = calls.groupby(key_columns="date", operations={
        'count': graphlab.aggregate.COUNT('index'),
        'start': graphlab.aggregate.MIN('index'),
        'end': graphlab.aggregate.MAX('index')
    })

In [129]:
calldata

Columns:
	date	datetime
	count	int
	start	int
	end	int

Rows: 965

Data:
+---------------------+-------+---------+---------+
|         date        | count |  start  |   end   |
+---------------------+-------+---------+---------+
| 2016-03-23 00:00:00 | 10987 | 3408255 | 3419241 |
| 2015-09-17 00:00:00 | 10788 | 1350739 | 1361526 |
| 2016-12-20 00:00:00 | 11035 | 6418600 | 6429634 |
| 2015-08-31 00:00:00 | 11034 | 1167867 | 1178900 |
| 2015-05-30 00:00:00 | 10172 |  179467 |  189638 |
| 2015-11-12 00:00:00 | 10834 | 1959776 | 1970609 |
| 2016-06-17 00:00:00 | 10797 | 4358413 | 4369209 |
| 2015-07-24 00:00:00 | 10707 |  760780 |  771486 |
| 2017-10-02 00:00:00 | 11386 | 9603983 | 9615368 |
| 2017-08-16 00:00:00 | 11097 | 9079347 | 9090443 |
+---------------------+-------+---------+---------+
[965 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [131]:
emaildata = emails.groupby(key_columns="date", operations={
        'count': graphlab.aggregate.COUNT('index'),
        'start': graphlab.aggregate.MIN('index'),
        'end': graphlab.aggregate.MAX('index')
    })

In [132]:
emaildata

Columns:
	date	datetime
	count	int
	start	int
	end	int

Rows: 965

Data:
+---------------------+-------+----------+----------+
|         date        | count |  start   |   end    |
+---------------------+-------+----------+----------+
| 2016-03-23 00:00:00 | 15243 | 4671122  | 4686364  |
| 2015-09-17 00:00:00 | 14950 | 1850703  | 1865652  |
| 2016-12-20 00:00:00 | 15132 | 8802755  | 8817886  |
| 2015-08-31 00:00:00 | 14828 | 1599083  | 1613910  |
| 2015-05-30 00:00:00 | 14094 |  244649  |  258742  |
| 2015-11-12 00:00:00 | 15134 | 2685432  | 2700565  |
| 2016-06-17 00:00:00 | 15213 | 5973885  | 5989097  |
| 2015-07-24 00:00:00 | 14550 | 1039300  | 1053849  |
| 2017-10-02 00:00:00 | 15408 | 13173432 | 13188839 |
| 2017-08-16 00:00:00 | 15223 | 12453679 | 12468901 |
+---------------------+-------+----------+----------+
[965 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [133]:
meetingdata['type'] = 3
purchasedata['type'] = 2
calldata['type'] = 0
emaildata['type'] = 1

In [134]:
streamdata = meetingdata

In [135]:
streamdata

Columns:
	date	datetime
	count	int
	start	int
	end	int
	type	int

Rows: 817

Data:
+---------------------+-------+-------+-------+------+
|         date        | count | start |  end  | type |
+---------------------+-------+-------+-------+------+
| 2016-03-23 00:00:00 |   47  |  3686 |  3732 |  3   |
| 2016-12-20 00:00:00 |  115  | 31672 | 31786 |  3   |
| 2015-08-31 00:00:00 |   2   |   30  |   31  |  3   |
| 2015-11-12 00:00:00 |   13  |  123  |  135  |  3   |
| 2016-06-17 00:00:00 |   65  |  9430 |  9494 |  3   |
| 2017-10-02 00:00:00 |  361  | 96567 | 96927 |  3   |
| 2017-08-16 00:00:00 |  247  | 82789 | 83035 |  3   |
| 2017-09-29 00:00:00 |  212  | 95899 | 96110 |  3   |
| 2016-03-20 00:00:00 |   55  |  3521 |  3575 |  3   |
| 2017-01-24 00:00:00 |  269  | 37295 | 37563 |  3   |
+---------------------+-------+-------+-------+------+
[817 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [136]:
streamdata = streamdata.append(purchasedata)

In [137]:
streamdata = streamdata.append(calldata)

In [138]:
streamdata = streamdata.append(emaildata)

In [139]:
streamdata

Columns:
	date	datetime
	count	int
	start	int
	end	int
	type	int

Rows: 3712

Data:
+---------------------+-------+-------+-------+------+
|         date        | count | start |  end  | type |
+---------------------+-------+-------+-------+------+
| 2016-03-23 00:00:00 |   47  |  3686 |  3732 |  3   |
| 2016-12-20 00:00:00 |  115  | 31672 | 31786 |  3   |
| 2015-08-31 00:00:00 |   2   |   30  |   31  |  3   |
| 2015-11-12 00:00:00 |   13  |  123  |  135  |  3   |
| 2016-06-17 00:00:00 |   65  |  9430 |  9494 |  3   |
| 2017-10-02 00:00:00 |  361  | 96567 | 96927 |  3   |
| 2017-08-16 00:00:00 |  247  | 82789 | 83035 |  3   |
| 2017-09-29 00:00:00 |  212  | 95899 | 96110 |  3   |
| 2016-03-20 00:00:00 |   55  |  3521 |  3575 |  3   |
| 2017-01-24 00:00:00 |  269  | 37295 | 37563 |  3   |
+---------------------+-------+-------+-------+------+
[3712 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [140]:
streamdata.show()

Canvas is updated and available in a tab in the default browser.

In [142]:
streamdata.export_csv('mc3streamdata.csv')